.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EEE;
    margin-bottom: 0px;
}

.cardContainer {
    height: 66vh;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
}

.card {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.container {
    padding: 10px;
}

.dayCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.dayCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.inOfficeRequirement {
    margin: 10px;
    padding: 10px;
}

.inOfficeRequirementIcon {
    font-size: 32px;
}

.InOfficeAllDay {
    background-color: lightcyan;
}

.Home {
    background-color: lightpink;
}

.InOfficeAM {
    background: linear-gradient(90deg, lightcyan, lightpink);
}

.InOfficePM {
    background: linear-gradient(90deg, lightpink, lightcyan);
}

.DayOff {
    background-color: lightyellow;
}

.employeeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 99%;
    height: 100px;
    overflow-y: auto;
}

.eventCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

.timebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timeIcon {
    font-size: 32px;
}

.detailedTime {
    padding: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    margin: 10px;
}

.officeSettingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.officeSettingCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
}

.highlight {
    font-weight: bolder;
    background-color: lightyellow;
}

.officeNeighborScheduleRequestDayCard {
    background-color: rgb(255, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.officeFloorPlanCanvasContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.officeFloorPlanKey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 10px;
}

.officeFloorPlanKeyEntry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.officeFloorPlanKeyEntryColorBlock {
    margin: 10px;
}
